.foo {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
 
}

@media (max-width: 480px) {
 .foo {
  
  justify-content: center;
 align-items: center;
  width: 100%;
  background-color:  rgb(15, 231, 227);;
 }
}