@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700&family=Roboto+Condensed:wght@700&family=Roboto+Slab:wght@300;900&family=Rowdies:wght@700&display=swap");

.ui.card {
  display: inline-block;
  padding: 0.7rem;
  background-color: rgba(216, 243, 13, 0.6);
  box-shadow: 2px 6px 10px 2px rgba(12, 12, 12, 0.3);
  border-radius: 15px;
}

.inline {
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

.inline .ui.card {
  width: 300px;
  margin: 1rem;
}

.ui.card .header {
  font-size: 46px;
  text-align: left;
  font-family: "Agdasima", sans-serif;
}

.ui.card .date {
  font-size: 16px;
  margin-bottom: 20px;
  color: rgb(173, 12, 12);
}

.temp {
  font-size: 80px;
  font-weight: 900;
  font-family: "Agdasima", sans-serif;
  text-align: center;
  color: rgb(10, 14, 241);
}

.ui.card img {
  width: 95px;
  height: 95px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-top: -30px;
}

.name {
  color: rgb(173, 12, 12);
}

.desc {
  text-align: center;
  color: blueviolet;
  font-size: 20px;
  font-weight: bolder !important;
  margin-top: -30px !important;
}

.hum {
  text-align: left;
  font-family: "Agdasima", sans-serif;
  font-size: 20px;
  font-weight: 500;
}
.feel {
  font-weight: 900;
  color: rgb(10, 14, 241);
  font-size: 30px;
  padding-bottom: 15px;
}
.ui.card > .content > .header:not(.ui) {
  line-height: 5rem;
}
@media (max-width: 768px) {
  .ui.card {
    width: 90%;
    margin: 1rem 0;
    padding: 0.5rem;
  }
}
@media (max-width: 480px) {
  .inline .ui.card {
    width: 100%;
    display: inline-block;
 
     
  }

  .inline {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;

  
  }

  .temp {
    font-size: 60px;
  }

  .desc {
    font-size: 16px;
  }

  .ui.card img {
    width: 70px;
    height: 75px;
    margin-top: -25px;
  }
}
