.hed {
  color: #0564a4;
  font-family: cursive;
  font-weight: bolder;
  font-size: 70px;
  margin: 0;
}

.par {
  color: #0e97f3;
  font-size: 18px;
  font-family: cursive;
  font-weight: bolder;
  margin: 40px 0 0 450px;
  padding-top: -2px; /* Note: It should be a number without quotes to work as intended. */
}

@media (max-width: 480px) {
  .par {
    display: flex;
    align-items: center;
    color: #0e97f3;
    font-size: 18px;
    font-family: cursive;
    font-weight: bolder;
    margin: 30px 0 0 30px; 
  }

  .hed {
    color: #0564a4;
    font-family: cursive;
    font-weight: bolder;
    font-size: 60px;
    margin: 0;
  }
}
