.ui.form {
  width: 100%;
  margin: 0px auto;
  display: inline-flex;
  justify-content: center;
  
}
.field {
  border-radius: 50px;
  box-shadow: 0px 1px 8px 1px rgba(12, 12, 12, 0.5);
  overflow: hidden;
}
.custom-form p {
  font-weight: bold;
}
.ui.form input:not([type]),
.ui.form input[type="date"],
.ui.form input[type="datetime-local"],
.ui.form input[type="email"],
.ui.form input[type="file"],
.ui.form input[type="number"],
.ui.form input[type="password"],
.ui.form input[type="search"],
.ui.form input[type="tel"],
.ui.form input[type="text"],
.ui.form input[type="time"],
.ui.form input[type="url"] {
  padding: 20px;
  width: 500px;
  border-radius: 50px !important;
  outline: none;
}

.ui.button {
  color: #0d0635;
  border-radius: 50px;
  box-shadow: 0px 2px 10px 3px rgba(12, 12, 12, 0.15);
  overflow: hidden;
  padding: 10px 39px 10px 30px;
  margin: 0px 10.25px 13px 22px;
  background-color: rgb(115, 157, 235) !important;
}
.ui.button:active{
   transform: scale(0.98);
   box-shadow: 3px 2px 10px 1px rgba(0, 0, 0, 0.2);
         
}
.err {
  color: #000000;
  background-color: rgba(216, 243, 13, 0.6);

  padding: 40px 10px 50px;
  font-weight: bold;
  text-align: center;
  margin: 80px 0px 0px 0px;

 
  font-size: 40px;
 
  
}

@media (max-width: 728px) {
  .ui.form {
    width: 100%;
    margin: 50px auto;
    justify-content: center;
    display: flex;
  }
  
  .field {
    width: 100%;
  }
  
  .ui.form input:not([type]),
  .ui.form input[type="date"],
  .ui.form input[type="datetime-local"],
  .ui.form input[type="email"],
  .ui.form input[type="file"],
  .ui.form input[type="number"],
  .ui.form input[type="password"],
  .ui.form input[type="search"],
  .ui.form input[type="tel"],
  .ui.form input[type="text"],
  .ui.form input[type="time"],
  .ui.form input[type="url"] {
    width: 100%;
  }
  
  .ui.button {
    margin: 0;
  }

}


@media (max-width: 480px) {
  .ui.form {
    flex-direction: column;
    align-items: center;
  }

  .field {
    width: 100%;
  }

  .ui.form input:not([type]),
  .ui.form input[type="date"],
  .ui.form input[type="datetime-local"],
  .ui.form input[type="email"],
  .ui.form input[type="file"],
  .ui.form input[type="number"],
  .ui.form input[type="password"],
  .ui.form input[type="search"],
  .ui.form input[type="tel"],
  .ui.form input[type="text"],
  .ui.form input[type="time"],
  .ui.form input[type="url"] {
    width: 100%;
  }

  .ui.button {
    margin: 10px 0;
    padding: 10px 25px;
    font-size: 14px;
  }

  .err {
    padding: 10px;
    font-size: 20px;
    width: 100%;
  }
}