body {
  background-image: url("./img/img1.jpg");

background-size: cover; 
}
@media (max-width: 480px) {
  body{ background-image: url("./img/img1.jpg");
   background-size: cover; 
    background-repeat: no-repeat;
  }
 .main{
  display: flex;
  flex-direction: column;
 }
}
